:root {
  background-color: rgba(165, 194, 197, 0.05);
  fill: #476576;
}

/************* DARK MODE *************/

/************* DARK MODE - Général *************/

:root,
:root *,
:root.dark-mode,
:root.dark-mode * {
  transition: background-color 0.25s ease;
}

:root.dark-mode {
  background-color: #2d2d30;
  fill: white;
  color: white;
}

:root.dark-mode .whiteBox {
  background-color: #3e3e42;
  color: white;
}

:root.dark-mode h6,
:root.dark-mode h5,
:root.dark-mode h4,
:root.dark-mode h3,
:root.dark-mode h2,
:root.dark-mode h1,
:root.dark-mode button,
:root.dark-mode button.btn,
:root.dark-mode small,
:root.dark-mode a,
:root.dark-mode p,
:root.dark-mode label {
  color: white !important;
}

/************* FIN DARK MODE - Général *************/

/************* DARK MODE - Header *************/

:root.dark-mode .Header .leftNav,
:root.dark-mode .Header .leftNav .menu .menuItem,
:root.dark-mode .Header .topNav,
:root.dark-mode .Header .topNav .dropdownContent,
:root.dark-mode .Header .topNav .dropdownContent a {
  background-color: #252526;
  color: white;
}

:root.dark-mode .Header .topNav .dropdownContent a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

:root.dark-mode .Header .topNav .dropdownContent .logout {
  background-color: rgba(255, 0, 0, 0.5);
}

:root.dark-mode .Header .topNav .dropdownContent .logout:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

:root.dark-mode .Header .leftNav .menu .menuItem.active {
  background-color: #476576;
}

:root.dark-mode .Header .leftNav .menu .menuItem.active svg {
  fill: white;
}

:root.dark-mode .Header .leftNav .menu .menuItem svg {
  fill: rgb(154, 154, 154);
}

:root.dark-mode .Header .leftNav .menu .menuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/************* FIN DARK MODE - Header *************/

/************* DARK MODE - Publications *************/

:root.dark-mode .comments .input-group-text {
  background-color: #3e3e42;
}

:root.dark-mode li:hover {
  background-color: #3e3e42;
}

:root.dark-mode .ArticleLink:hover {
  background-color: #636363;
}

:root.dark-mode .commentContent {
  background-color: #636363;
}

:root.dark-mode article div p,
:root.dark-mode article span {
  color: black !important;
}

/************* FIN DARK MODE - Publications *************/

/************* DARK MODE - Gestion d'amis *************/

:root.dark-mode .GestionAmis span {
  color: black !important;
}

/************* FIN DARK MODE - Gestion d'amis *************/

/************* DARK MODE - Table Template *************/

:root.dark-mode table {
  background-color: #3e3e42 !important;
}

:root.dark-mode table th {
  background-color: #252526 !important;
}

:root.dark-mode table th,
:root.dark-mode table td {
  color: white !important;
}

:root.dark-mode table td {
  background-color: #636363 !important;
}

:root.dark-mode table tr:nth-child(even) td {
  background-color: #7b7b7b !important;
}

:root.dark-mode table td button svg {
  fill: white;
}

/************* FIN DARK MODE - Table Template *************/

/************* DARK MODE - Modals *************/

:root.dark-mode .modal-content {
  background-color: #3e3e42;
  color: white;
}

/************* FIN DARK MODE - Modals *************/

.Content {
  color: #476576;
  position: absolute;
  top: 55px;
  left: 250px;
  width: calc(100% - 250px);
  padding: 20px;
  z-index: 0;
}

.Content h2 {
  color: black;
}

.Content h4 {
  margin-bottom: 30px;
}

.whiteBox {
  background-color: white;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px;
  margin-inline: auto;
  margin-bottom: 30px;
  width: 100%;
  min-width: 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.error-box {
  color: red;
  fill: red;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button.btn-primary {
  background-color: rgb(71, 101, 118) !important;
}

button.btn-primary:hover {
  background-color: rgba(71, 101, 118, 0.8) !important;
}

button.btn-outline-primary {
  color: rgb(71, 101, 118) !important;
  border-color: rgb(71, 101, 118) !important;
}

button.btn-outline-primary:hover {
  color: white !important;
  background-color: rgb(71, 101, 118) !important;
  border-color: rgb(71, 101, 118) !important;
}
