svg {
    user-select: none;
}

.topNav {
    background-color: white;
    box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    left: 243px;
    width: calc(100% - 243px);
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

.topNav svg {
    fill: #476576;
}

.topNav div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.topNav .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 55%;
    margin-right: 10px;
}

.topNav .actions a:hover {
    background-color: rgb(71, 101, 118);
    color: white;
}

.topNav .actions a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #476576;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.topNav .actions a div {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-inline: auto;
    padding-inline: 10px;
}

.topNav .user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topNav .dropdownContent {
    background-color: white;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: fixed;
    flex-direction: column;
    top: 7%;
    padding: 10px;
    right: 0;
}

.topNav .dropdownContent div {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.topNav .dropdownContent button,
.topNav .dropdownContent a {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    border: none;
    background-color: white;
    text-decoration: none;
    text-align: center;
    color: black;
}

.topNav .dropdownContent div:hover {
    background-color: rgba(0, 50, 218, 0.1);
}

.topNav .dropdownContent div:active {
    background: rgba(0, 50, 218, 0.2);
}


.topNav .dropdownContent .logout:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.topNav .dropdownContent .logout:active {
    background-color: rgba(255, 0, 0, 0.7);
}

.topNav .dropdownContent .personalInfos:hover {
    background-color: rgba(0, 50, 218, 0.1);
}

.topNav .dropdownContent .personalInfos:active {
    background: rgba(0, 50, 218, 0.2);
}

.topNav .dropdownContent .profileSettings:hover {
    background-color: rgba(0, 50, 218, 0.1);
}

.topNav .dropdownContent .profileSettings:active {
    background: rgba(0, 50, 218, 0.2);
}

.leftNav {
    background-color: white;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 250px;
}

.leftNav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 20px;
}

.leftNav .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leftNav .menu .menuItem {
    padding-inline: 6px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 35px;
    cursor: pointer;
    user-select: none;
    border: none;
    border-top: 1px solid rgba(71, 101, 118, 0.15);
    background-color: white;
    font-size: medium;
    text-decoration: none;
    color: rgb(71, 101, 118);
}

.leftNav .menu .menuItem.active {
    background-color: rgb(71, 101, 118);
    color: white;
}

.leftNav .menu .menuItem.active:hover {
    background-color: rgb(71, 101, 118);
}

.leftNav .menu .menuItem.active svg {
    fill: white;
}

.leftNav .menu .menuItem p {
    margin: 0;
}

.leftNav .menu .menuItem:last-child {
    border-bottom: 1px solid rgba(71, 101, 118, 0.15);
}

.leftNav .menu .menuItem:hover {
    background-color: rgba(71, 101, 118, 0.3);
}

.leftNav .menu .menuItem:active {
    background-color: rgba(71, 101, 118, 0.5);
}

.leftNav .menu .menuItem svg {
    margin-inline: 20px;
    fill: #476576;
    height: 20px;
    width: 20px;
}

.dropdown {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.dropdown.show {
    max-height: 300px;
}

.leftNav .menu .dropdown .menuItem {
    background-color: rgba(71, 101, 118, 0.1);
}

.leftNav .menu .dropdown .menuItem:hover,
.leftNav .menu .menuItem.dropdown-selected:hover {
    background-color: rgba(71, 101, 118, 0.5);
}

.dropdown-content span {
    padding-inline-start: 30px;
}

.leftNav .menu .menuItem.dropdown-selected {
    background-color: rgba(71, 101, 118, 0.3);
}

.leftNav .menu .dropdown .menuItem.active {
    background-color: rgb(71, 101, 118);
}
